{% extends "layout/admin.html" %}

{% block title %}PEnhancer Admin Panel|User{% endblock %}
{% load staticfiles %}
{% block body_block %}
<style>
  .no-sort { pointer-events: none!important; cursor: default!important; }
.no_paginate{bottom:-50px!important;}
.btn-xs {
font-size: 13px;
line-height: 1.5;
padding: 3px 21px 5px;
width: 350px;
}
</style>
<div class="row">
  <div class="col-sm-6">
    <h3 class="page-title">User List</h3>
  </div>
  <div class="col-sm-6 text-right">
    <a href="/register/" class="btn btn-success"><i class="fa fa-plus"></i>Create User</a>
  </div>
</div>
<div class="row">
  <div class="text-center">
    {% if messages %}
    <div class="col-md-12 col-sm-12 messages">
      {% for message in messages %}
      <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="clearfix"></div>
  <div class="row positionrow">
    <div class="col-sm-12" id="userlistaction" style="display:none">
      <div class="renderbutton">
        <ul>
          <li><a onclick="javascript:changequotestatus('Delete');" href="javascript:void(0);" alt="Delete" title="Delete"><i
                class="fa fa-times" aria-hidden="true"></i></a></li>
          <li><a onclick="javascript:changequotestatus('Disable');" href="javascript:void(0);" alt="Deactive" title="Deactive"><i
                class="fa fa-power-off red" aria-hidden="true"></i></a></li>
          <li><a onclick="javascript:changequotestatus('Enable');" href="javascript:void(0);" alt="Active" title="Active"><i
                class="fa fa-power-off green" aria-hidden="true"></i></a></li>
          <li><a href="#" onclick="window.location.reload(true);" alt="Refresh" title="Refresh"><i class="fa fa-refresh"
                aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <table id="example" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="example_info"
            cellspacing="0">
            <thead>
              <tr>
                <th data-orderable="false" style="background:#fff!important;"><input type="checkbox" onchange="checkAll()"
                    name="select_all" id="select_all" />
                </th>
                <th data-orderable="false" style="background:#fff!important;">Action</th>
                <th>Status</th>
                <!--   <th>User Name</th> -->
                <th>Full Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Signup Date</th>
                <th>Picture</th>
              </tr>
            </thead>
            <tbody>
              {% for row in user_list %}
              <tr>
                <td><input class="checkall" id="checkuser_id" type="checkbox" name="user_id[]" value="{{row.id}}"></td>
                <td>
                  <ul class="dataactionlist">
                    <li><a title="Detail" href="/profile/{{row.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a title="Edit" href="/edituser/{{row.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                    <li><a title="Delete" onclick="return confirm_click();" href="/userdelete/{{row.id}}"><i class="fa fa-times"
                          aria-hidden="true"></i></a></li>

                    {% if row.is_active == 1 %}
                    <li>
                      <form id="MasterChangeStatus{{row.id}}" action="/userlist/" name="MasterChangeStatus" method="post">
                        <input id="id" name="id" value="{{row.id}}" type="hidden">{% csrf_token %}<input id="opt" name="opt"
                          value="ChangeStatus" type="hidden"><input id="is_active" name="is_active" value="0" type="hidden">
                        <a href="javascript:if(confirm('Are you sure to Change status')) {document.forms['MasterChangeStatus{{row.id}}'].submit();};"
                          alt="Deactive" title="Deactive">
                          <i class="fa fa-power-off red" aria-hidden="true"></i></a></form>
                    </li>
                    {% else %}
                    <li>
                      <form id="MasterChangeStatus{{row.id}}" action="/userlist/" name="MasterChangeStatus" method="post">
                        <input id="id" name="id" value="{{row.id}}" type="hidden">{% csrf_token %}<input id="opt" name="opt"
                          value="ChangeStatus" type="hidden"><input id="is_active" name="is_active" value="1" type="hidden">
                        <a href="javascript:if(confirm('Are you sure to Change status')) {document.forms['MasterChangeStatus{{row.id}}'].submit();};"
                          alt="Active" title="Active"><i class="fa fa-power-off green" aria-hidden="true"></i></a></form>
                    </li>
                    {% endif %}
                  </ul>
                </td>
                <td>
                  {% if row.is_active == 0 %}
                  <span class="pendingbg">Deactive</span>
                  {% else %}
                  <span class="activebg">Active</span>
                  {% endif %}
                </td>
                <!--  <td>{{row.username}}</td>
                                <td>{{row.first_name}} {{row.last_name}}</td>
                                <td>{{row.email}}</td>
                                <td>
                                    {% if row.contact_number|cut:" " != "None" %}
                                      {{row.contact_number}}
                                    {% endif %}
                                </td>
                                <td>{{row.date_joined}}</td> -->
                <!-- <td>{{row.username}}</td> -->
                <td>{{row.first_name}} {{row.last_name}}</td>
                <td>{{row.email}}</td>
                <td>
                  {% if row.contact_number|cut:" " != "None" %}
                  {{row.contact_number}}
                  {% endif %}
                </td>
                <td>{{row.date_joined}}</td>
                <td>
                  {% if row.picture %}
                  {% if 'facebook' in row.picture %}
                  <img width="80" height="50" src="{{row.picture}}">

                  {% elif 'google' in row.picture %}
                  <img width="80" height="50" src="{{row.picture}}">
                  {% else %}
                  <img width="80" height="50" src="{{media_url}}{{row.picture}}">
                  {% endif %}
                  {% else %}
                  <img width="80" height="50" src="{% static 'images/default.jpg' %}">
                  {% endif %}

                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <script>
    $(document).ready(function () {
      $('#example').DataTable({
        "ordering": true,
        dom: 'C<"clear">lfrtip',
        colVis: {
          "align": "right",
          exclude: [0, 1]
        },
        "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
        "pageLength": 50,
        "order": []
      });
      var rowCount = $('#example >tbody >tr').length;
      if (rowCount < 50) {
        $("#example_length").addClass("no_paginate");
        $('#example_paginate').hide();
      }
    });
    function delete_confirm() {
      var status = confirm('Do you really want to Delete?');
      if (status == false) {
        return false;
      }
      else {
        $("#MasterDeleteQuoteListAjaxForm").submit();
      }

    }
    function checkAll() {
      var checkboxes = document.getElementsByTagName('input');
      var val = null;
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox') {
          if (val === null) val = checkboxes[i].checked;
          checkboxes[i].checked = val;
        }
      }
    }
  </script>
  <script>
    $(document).ready(function () {
      var table = $('#example').DataTable();
      $('div.dataTables_filter input').attr('placeholder', 'Search...');
    });

  </script>

  <script type="text/javascript" class="init">
    function changequotestatus(action) {
      // alert(action);
      var selectedArray = [];
      var jsonarr = '';
      var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
      $('.checkall:checked').each(function () {
        selectedArray.push(parseInt($(this).val()));
      });
      if (selectedArray.length == 0) {
        alert('Please select at least one record.');
        return false;
      }
      jsonarr = JSON.stringify(selectedArray);
      var r = confirm("Are you sure you want to perform " + action + " action?");
      if (r == true) {
        $.redirect('/changeuseraction/', { 'ids': jsonarr, 'opt': action, 'csrfmiddlewaretoken': csrfmiddlewaretoken });
      }
      //alert(JSON.stringify(selectedArray));
    }
    function confirm_click() {
      return confirm("You are about to delete an item. Continue?");
    }
  </script>

  {% endblock %}